<p-dialog header="직급" [(visible)]="display" [focusOnShow]="false" [responsive]="true" showEffect="fade"
          [contentStyle]="{'overflow': 'visible'}" [modal]="true" [style]="{width: '500px'}"
          (close)="fnClose()">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <p-table [value]="grades" dataKey="value" selectionMode="single" [(selection)]="selectedGrade"
               [scrollable]="true" scrollHeight="200px" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>직급코드</th>
            <th>직급</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="ri" (dblclick)="onRowDblClick($event, rowData)">
            <td>{{rowData.value}}</td>
            <td>{{rowData.label}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check"  label="선택" (click)="fnSelect()"></button>
      <button type="button" pButton icon="fa fa-close"  label="닫기" (click)="fnClose()"></button>
    </div>
  </p-footer>
</p-dialog>
